/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .sidebar{
        display: none;
    }
    .main-home{
        width: 600px;
        left: 0%;
    }
    .post-box{
        height: 400px;
    }
    .post-info{
        height: 10%;
    }
    .header-content{
        width: 300px;
    }
    .header-content img{
        width: 30px;
    }
    .stories-title{
        width: 450px;
    }
    .feed-text{
        width: 435px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}